/* External CSS Document for GEOM101 Assignment 2 */

* {
	margin: 0;
	padding: 0;
}
	
h1 {
	font-size: 50pt;
	height: 51pt;
}     

aside {
	width: 33%;
	padding-left: 10px;
	margin-left:10px;
	float: right;
	background-colour:gray;
	border: 1px solid green
}
	
		
